.product-section {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    padding: 2rem 10rem;
}

.product-details {
    display: flex;
    align-items: center;
}

.product-image img {
    width: 100%;
    max-width: 30rem;
}

.product-info {
    flex: 2;
}

.product-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.product-info .price {
    font-size: 1rem;
    color: #5bb359;
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-info .description {
    line-height: 2.0;
}

.add-to-cart {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    height: min-content;
    margin-top: 3rem;
}

.add-to-cart:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .product-section {
        padding: 2rem;
    }

    .product-details {
        flex-direction: column;
    }

    .product-image img {
        max-width: 100%;
    }

    .product-info {
        margin-top: 1rem;
    }

    .add-to-cart {
        width: 100%;
    }
}