.not-found_page {
    display: flex;
    justify-content: center;
    height: 60vh;
    align-content: center;
}

.not-found_page h1 {
    color: #5bb359;
    font-size: 1.5rem;
    padding: 1rem 0;
    align-self: center;
}