button:active {
    background-color: green;
    opacity: 60%;
    color: white;
}

button[disabled] {
    cursor: not-allowed;
}

button {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}

input {
    border: 1px solid rgb(218, 216, 216);
    border-radius: 2rem;
    padding: 0.5rem;
    width: 100%;
}

.signup-page {
    padding: 0 20rem;
}

.signup-page_title {
    color: rgb(71, 111, 62);
    font-size: 2rem;
    padding: 2rem 0;
}

.signup_input-div {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.signup_input-div label {
    display: flex;
    justify-content: start;
    margin-right: 0.5rem;
}