* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    min-height: 100vh;
}